.table-view {
    &__header {
        > tr {
            text-transform: uppercase;
        }
        .sortable {
            cursor: pointer;
        }
    }
    &__options-column {
        text-align: right !important;
    }
}

.option-buttons {
    position: relative;
    height: 40px;

    .fixed-action-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}